@charset "UTF-8";

img#imgnavup {
    position: relative;
    top: 2px;
}
img#navimgdown {
    border-radius: 50%;
    width: 65px;
    margin-left: 25px;
}
a#josi {
    color: white;
    font-size: 25px;
    position: relative;
    font-weight: bolder;
    margin-left: 10px;
    top: 5px;
}
#navbar{
    background-color: #C36539;
}
li.dropdown a {

}
div#bs-example-navbar-collapse-1 a {
    color: white;
    margin-left: 10px;
    font-size: 15pt;
    font-family: Trebuchet MS, sans-serif;
    border-bottom: solid thin white;
}